{% extends 'base_generic.html' %}
{% block head %}
    <style>
        #text-editor-border{
            margin: 50px;
            padding: 50px 50px 50px 50px;
        }

        #text-output{
            margin: 30px;
            padding: 30px;
        }

        textarea{
            width: 500px;
            height: 150px;
        }

        .highlighted{
            background-color: blue;
        }

        #save_model_keywords{
        {#position: absolute;#}
            right: 10px;
            margin: 50px;
        }

        #reset_model_keywords{

        }
    </style>
    <script>
        function getSelectionText(){
            let selection = window.getSelection();
            if (selection.toString()){
                if (selection.anchorNode.parentElement.id === 'text-editor'){
                    return window.getSelection().toString();
                }

            }
            return '';
        }

        function getAllHighlighted(){
            return $(".highlight")
        }
        $(document).ready(function() {
            document.onselectionchange = function() {
                let text = getSelectionText();
                document.getElementById("sel").innerHTML = getSelectionText();
                {#console.log(getSelectionText().toString())#}
            };

            document.onmouseup = function(){
                let selection = window.getSelection();
                let node = selection.anchorNode;
                let range = selection.getRangeAt(0);


                try {
                    while (selection.toString().indexOf(' ') !== 0) {
                        range.setStart(node, (range.startOffset - 1));
                    }
                    range.setStart(node, (range.startOffset + 1))
                }
                catch (DOMException){
                }
                try{
                    while (selection.toString().substr(-1) !== ' ') {
                        range.setEnd(node, (range.endOffset + 1));
                    }
                    range.setEnd(node, (range.endOffset - 1));
                }
                catch (DOMException){
                }

                document.getElementById("sel").innerHTML = getSelectionText();

            };

            $("#enter").click(function () {
                let highlightspan = document.createElement('span');
                highlightspan.setAttribute('class','highlighted');

                let selection = window.getSelection();
                let range = selection.getRangeAt(0);
                let selected_text = getSelectionText();

                try{
                    range.surroundContents(highlightspan);
                }
                catch (DOMException) {
                    alert('Please select an unhighlighted portion of the text.')
                }

            })

            $("#reset").click(function(){
                $.ajax({
                    url: '',
                    type: 'get',
                    data:{
                        method: 'reset',
                        reset: 'True',
                    },
                    success: function (response) {
                    }
                })
            })

            $("#save").click(function(){

                $.ajax({
                    url: '',
                    type: 'get',
                    data:{
                        method: 'save',
                        text: document.getElementById('text-editor').innerHTML,
                    },
                    success: function (response) {
                    }
                })
            })
        })

    </script>
{% endblock %}

{% block content %}

    <div id='text-output' class="d-flex justify-content-center text-center">
        <label for="sel">Selected Keywords: </label>
        <textarea readonly id="sel" rows="3" cols="50"></textarea>
        {#        <p id="sel"></p>#}
        <button id='enter' type="button" class="btn btn-primary ">Mark</button>

    </div>

    <div id="save_model_keywords">
        <p>When you're done marking your keywords, click here:</p>

        <button id="save" type="button" class="btn btn-primary">Save all keywords</button>
    </div>





    <div id='text-editor-border' class="border border-primary d-flex justify-content-center text-center">
        <p id="text-editor">
            {{ script.text }}
        </p>
    </div>


    <div id="reset_model_keywords">
        <p>Otherwise, if you want to reset all keywords in this script:</p>
        <button id="reset" type="button" class="btn btn-light">Reset</button>
    </div>

    <br>
    <br>
    <br>
    <br>
{% endblock %}
