{% extends 'base_generic.html' %}
{% load static %}

{% block title %} <title>Main Page</title> {% endblock %}
{% block head %}
    <style>
        body{
            background-image: url("{% static 'image1.jpg' %}");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            height: 100vh;
            color: #333333;
        }

        h1{
            font-size: 3.5rem;
            text-shadow: #333333 2px 1px 3px ;
        }

        .index-container{

        }

        #banner{
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
            color: white;
            font-weight: bold;
        {#border: 3px solid #f1f1f1;#}

        }
        #banner-out{
            position: absolute;
            left: 10%
        }
    </style>
{% endblock %}
{% block content %}

    <div class="bg-image"></div>

    <br><br><br>
    <br><br><br>
    <div id="banner-out">
        <h1 ><span id="banner">Welcome {{user}}!</span></h1>
    </div>

    {% if not user.is_superuser %}
        <br><br><br><br><br><br><br><br><br>

        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card text-white bg-dark mb-3">
                        <div class="card-body">
                            <h5 class="card-title">View your history</h5>
                            <p class="card-text">Check your past lessons and view past reports</p>
                            <button disabled href="{% url 'audio_list_view' %}" class="btn btn-outline-info">Analyse</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card text-white bg-dark mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Record a new lesson</h5>
                            <p class="card-text">Start recording a new trial lesson to evaluate</p>
                            <a href="{% url 'record' %}" class="btn btn-outline-info">Start recording</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    {% elif user.is_superuser %}

        <br><br><br>
        <span id="banner-out" style="color: black;">
            <small>Admin user page</small>
        </span>
        <br><br><br>
        <div class="container">
            <div class="row">
                <div class="col-lg-2" style="font-size: 0.75em;">
                    <div class="card text-white bg-dark h-100">
                        <div class="card-body">
                            <h5 class="card-title">View your history</h5>
                            <p class="card-text">Check your past lessons and view past reports</p>
                            <button disabled href="{% url 'audio_list_view' %}" class="btn btn-outline-info">Analyse</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2" style="font-size: 0.75em;">
                    <div class="card text-white bg-dark h-100">
                        <div class="card-body">
                            <h5 class="card-title">Record a new lesson</h5>
                            <p class="card-text">Start recording a new trial lesson to evaluate</p>
                            <a href="{% url 'record' %}" class="btn btn-outline-info">Start recording</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2" style="font-size: 0.75em;">
                    <div class="card text-white bg-dark h-100">
                        <div class="card-body">
                            <h5 class="card-title">Add a new script</h5>
                            <br>
                            <p class="card-text">Add a new script to the database</p>
                            <a href="{% url 'script_create' %}" class="btn btn-outline-info">Add new script</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2" style="font-size: 0.75em;">
                    <div class="card text-white bg-dark h-100">
                        <div class="card-body">
                            <h5 class="card-title">Edit a script</h5>
                            <br>
                            <br>
                            <p class="card-text align-bottom">Make changes to an existing script</p>
                            <button disabled href="{% url 'audio_list_view' %}" class="btn btn-outline-info d-flex">Edit script</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2" style="font-size: 0.75em;">
                    <div class="card text-white bg-dark h-100">
                        <div class="card-body">
                            <h5 class="card-title">Add new topic</h5>
                            <br>
                            <br>
                            <p class="card-text align-bottom">Create a new topic/chapter</p>
                            <a href="{% url 'topic_create' %}" class="btn btn-outline-info d-flex">Create topic</a>
                        </div>
                    </div>
                </div>
                                <div class="col-lg-2" style="font-size: 0.75em;">
                    <div class="card text-white bg-dark h-100">
                        <div class="card-body">
                            <h5 class="card-title">Add new tutor</h5>
                            <br>
                            <br>
                            <p class="card-text align-bottom">Add a new tutor user account</p>
                            <a href="{% url 'tutor_signup' %}" class="btn btn-outline-info d-flex">Add Tutor</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}



{% endblock %}