{% extends 'base_generic.html' %}
{% load static %}

{% block title %} <title>Main Page</title> {% endblock %}
{% block content %}

<div style="background-image: url({% static 'image1.jpg' %});"></div>
<div class="container">
<!--    <h1 style="text-align:center; padding:10px;">Welcome!</h1>-->
    <br><br><br>
    <br>
    <h1 class="display-2 text-center">Welcome {{user}}!</h1>
    <br>
    <br>

<!--    <img src="{% static 'image1.jpg' %}" alt="" style="object-fit: cover;">-->

</div>


{% endblock %}