{% extends 'base_generic.html' %}
{% load static %}

{% block title %} <title>Record Lesson</title> {% endblock %}

{% block head %}
<style>
    body{
        background-image: url("{% static "image2.png" %}");
        background-size: cover;
        height: 130vh;
        color: #333333;
    }
    .card-wrapper{
        width: 700px;
        margin: auto;
    }
    .icon-shift-right{
        position: relative;
        left: 50px;
    }

    .upload-shift-right{
        position: relative;
        left: 30%;
    }
</style>
{% endblock %}
{% block content %}

<br>
<br>
<br>
<br>
<br>
<div class="card-wrapper">
    <div class="row">
        <div class="card-deck" style="color:black;">
            <div class="col-lg-6 d-flex">
                <div class="card" style="width: 50rem;">
                    <svg width="12em" height="15em" viewBox="0 0 16 16" class="bi bi-cloud-arrow-up-fill icon-shift-right" fill="currentColor " xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 5.146l-2-2a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L7.5 6.707V10.5a.5.5 0 0 0 1 0V6.707l1.146 1.147a.5.5 0 0 0 .708-.708z"></path>
                    </svg>
                    <div class="card-body">
                        <h5 class="card-title">Upload voice file</h5>
                        <p class="card-text">Upload a pre-recorded voice recording of your lesson from your computer
                            <br> File formats: wav, mp3</p>
                        <br>
                        <input type="file" accept="audio/*" capture id="upload_audio_button">
                        <br>
                        <br>
                        <audio id="uploaded_audio_player" controls></audio>

                        {#  todo restrict audio format and only allow audio files#}
                    </div>
                </div>
            </div>

            <div class="col-lg-6 d-flex">
                <div class="card">
                    <svg width="12em" height="15em" viewBox="0 0 16 16" class="bi bi-mic-fill icon-shift-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0V3z"></path>
                        <path fill-rule="evenodd" d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"></path>
                    </svg>
                    <div class="card-body">
                        <h5 class="card-title">Record a lesson</h5>
                        <p class="card-text">Use your laptop microphone to record a new lesson on the spot <br><br>
                            <small id="mic-permissions-warning"></small></p>
                        <div class="btn-group" role="group">
                            <button id='record_button' type="button" class="btn btn-outline-dark"> Record
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-mic" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"></path>
                                    <path fill-rule="evenodd" d="M10 8V3a2 2 0 1 0-4 0v5a2 2 0 1 0 4 0zM8 0a3 3 0 0 0-3 3v5a3 3 0 0 0 6 0V3a3 3 0 0 0-3-3z"></path>
                                </svg>
                            </button>
                            <button id="pause-button" type="button" class="btn btn-outline-secondary">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pause-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.5 3.5A1.5 1.5 0 0 1 7 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5zm5 0A1.5 1.5 0 0 1 12 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5z"></path>
                                </svg>
                            </button>
                            <button id='stop_record_button' type="button" class="btn btn-outline-danger">Stop recording</button>
                        </div>

                        <label id="recording_label"> Recording not started </label>
                        <audio id="recording_player" controls></audio>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="row d-flex ">
    <div class="col-lg-4 col-sm-2 upload-shift-right">
        <button href="{% url 'analyse' %}" id="upload_file_button" class="btn btn-primary btn-lg">Upload file
        {# todo redirect to error message if upload failure #}
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-bar-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 10a.5.5 0 0 0 .5-.5V3.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 3.707V9.5a.5.5 0 0 0 .5.5zm-7 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5z"></path>
        </svg></button>
    </div>

    <div class="col-lg-4 col-sm-2 upload-shift-right">
        <button href="{% url 'analyse' %}" id="upload_voice_button" class="btn btn-primary btn-lg">Upload recording
        {# todo redirect to error message if upload failure #}
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-bar-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 10a.5.5 0 0 0 .5-.5V3.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 3.707V9.5a.5.5 0 0 0 .5.5zm-7 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5z"></path>
        </svg></button>
    </div>
</div>

<br>
<br>


<script>
    // {# Page has two main functionalities -> recorders which take in audio files/ record audio and #}
    // {#  players which play the audio #}

    $(document).ready(function(){
        const upload_recorder = document.getElementById('upload_audio_button');
        const upload_player = document.getElementById('uploaded_audio_player');

        const record_button = document.getElementById('record_button');
        const record_pause_button = document.getElementById('pause-button');
        const stop_record_button = document.getElementById('stop_record_button');
        const recording_label = document.getElementById('recording_label');
        const recording_player = document.getElementById('recording_player');

        const upload_file = document.getElementById('upload_file_button');
        const upload_voice = document.getElementById('upload_voice_button');

        upload_file.disabled = true;
        upload_voice.disabled = true;


        upload_recorder.addEventListener('change', function(e) {
            const upload_file = upload_recorder.files[0];
            const upload_URL = URL.createObjectURL(upload_file);
            upload_player.src = upload_URL;
        });

        const captureAudio = function(stream){
            const mediaRecorder = new MediaRecorder(stream);
            let chunks = [];

            mediaRecorder.ondataavailable = function(e) {
                chunks.push(e.data);
            }

            record_button.onclick = function(){
                if (mediaRecorder.state === 'inactive'){
                    mediaRecorder.start();
                }
                else if (mediaRecorder.state === 'paused'){
                    mediaRecorder.resume();
                }
                console.log(mediaRecorder.state)
                record_button.style.background = 'grey';
                recording_label.innerText = 'Recording has started'
            }

            record_pause_button.onclick = function(){
                mediaRecorder.pause();
                console.log(mediaRecorder.state);
                record_button.style.background = '';
                recording_label.innerText = 'Recording is paused.'
            }

            stop_record_button.onclick = function(){
                mediaRecorder.stop();
                chunks = [];
                console.log('recording stopped');
                record_button.style.background = '';
                recording_label.innerText = 'Recording has been stopped.'
            }

            mediaRecorder.onstop = function(e){
                const blob = new Blob(chunks, {'type' : 'audio/ogg; codecs=opus'});
                const recorded_URL = window.URL.createObjectURL(blob);
                recording_player.src = recorded_URL;

            }

        }

        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            console.log('getUserMedia supported.');
            navigator.mediaDevices.getUserMedia({audio: true})
                .then(captureAudio).catch(e => {
                if (e.name==="NotFoundError"){
                            document.getElementById('mic-permissions-warning').innerText = "We cannot detect a microphone" +
                                " from your computer.\nPlease try again from another device."
                    record_button.disabled = true;
                    stop_record_button.disabled = true;
                    recording_label.innerText = '';
                    recording_player.remove();
                }
            })
                .catch(function(err) {
                        console.log(err)
                        console.log('The following getUserMedia error occured: ' + err);
                        if (err.name === 'NotAllowedError'){
                            document.getElementById('mic-permissions-warning').innerText = 'Browser microphone ' +
                                'permissions not enabled.\nEnable permissions are at the right side of your url bar' +
                                ' and refresh the page.'
                            record_button.disabled = true;
                            stop_record_button.disabled = true;
                            recording_label.innerText = '';
                            recording_player.remove();
                        }

                    }
                );
        } else {
            console.log('getUserMedia not supported on your browser!');
        }

    })

</script>
{% endblock %}