{% extends 'base_generic.html' %}
{% load static %}

{% block title %} <title>Uploaded Audio</title> {% endblock %}

{% block head %}
    <style>
        body{
            background-image: url("{% static "image2.png" %}");
            background-size: cover;
            height: 130vh;
            color: #333333;
        }
        .centered{
            margin: 0 auto;
        }

        #text-editor{
            width: 500px;
            background: #212529;
            padding: 2em;
            color: whitesmoke;
        }

        #back-btn{
            margin-left: 5em;
            width: 6em;
        }

        #transcript-editor-border{
            padding: 3em;
        }

        #text-display{
            padding: 1em;
            background-color: rgba(35,35,35,0.8);
        }

        #all-scripts-box{

        }

        .script-selector{
            color: darkblue;
            text-decoration: underline;
        }
    </style>
{% endblock %}
{% block content %}
    <br>
    <br>
    <button type="button" class="btn btn-primary" id="back-btn">Back</button>
    <div class="container centered">
        <br>
        <br>
        <br>
        <br>

        <h1> uploaded file name: {{audioobj.filename.name}}</h1>
        <div id="text-display">
            <p>Here is what you said:</p>
            <p> {{audioobj.text}}</p>
        </div>


        <button id="retranscribe-button" type="button" class="btn btn-dark">Redo Transcribe</button>
        <button id="edit-transcription" type="button" class="btn btn-secondary">Edit transcription</button>
        <button id="analyse-btn" type="button" class="btn btn-primary">Analyse Transcript</button>

        <div id="loading_icon">
            <br>

            <p> Running transcription...</p>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: none; display: block; shape-rendering: auto;" width="44px" height="44px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                <rect x="17.5" y="30" width="15" height="40" fill="#337ab7">
                    <animate attributeName="y" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="18;30;30" keySplines="0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.2s"></animate>
                    <animate attributeName="height" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="64;40;40" keySplines="0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.2s"></animate>
                </rect>
                <rect x="42.5" y="30" width="15" height="40" fill="#5bc0de">
                    <animate attributeName="y" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="20.999999999999996;30;30" keySplines="0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.1s"></animate>
                    <animate attributeName="height" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="58.00000000000001;40;40" keySplines="0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.1s"></animate>
                </rect>
                <rect x="67.5" y="30" width="15" height="40" fill="#5cb85c">
                    <animate attributeName="y" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="20.999999999999996;30;30" keySplines="0 0.5 0.5 1;0 0.5 0.5 1"></animate>
                    <animate attributeName="height" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="58.00000000000001;40;40" keySplines="0 0.5 0.5 1;0 0.5 0.5 1"></animate>
                </rect>
                <!-- [ldio] generated by https://loading.io/ --></svg>
        </div>

        <br>
        <br>
        <br>

    <div id="all-scripts-box">
    <h3>Select a script to compare against:</h3>
        {% for script in scripts %}
            <a href="" id="{{ script.id }}" class="script-selector">{{ script.topic }}</a>
        {% endfor %}
    {% if not scripts %}
        <p> There are no scripts available </p>
    {% endif %}
    </div>


        {#    <div id="transcript-editor-border" class="d-flex justify-content-center text-center">#}
        <div id="editor-area">
            <h3>Edited text:</h3>
            <label>
                <textarea id="text-editor" cols="30" rows="10">{{ audioobj.text }}</textarea>
            </label>
            <button type="button" id="submit-edited-transcript" class="btn btn-primary">Save edited text</button>
        </div>

        {#    </div>#}
        <br>
        <br>
        <br>


        <script>
            const editor_area = document.getElementById('editor-area');
            const loading_icon = document.getElementById("loading_icon");
            const analyse_btn = document.getElementById("analyse-btn")
            const scripts_box = document.getElementById('all-scripts-box')

            editor_area.style.display = 'none';
            loading_icon.style.display = 'none';
            scripts_box.style.display = 'none';

            $(document).ready(function(){
                const edit_transcription_btn = document.getElementById('edit-transcription')
                const back_btn = document.getElementById('back-btn')

                back_btn.addEventListener('click', function(){
                    window.history.back();
                })
                $("#edit-transcription").click(function(){
                    editor_area.style.display = 'block';
                })

                $("#retranscribe-button").click(function(){
                    loading_icon.style.display = 'block';
                    $.ajax({
                        url: '',
                        type: 'get',
                        data:{
                            method: 'transcribe'
                        },
                        success:function(){
                            loading_icon.style.display = 'none';

                        }
                    })
                })


            $("#submit-edited-transcript").click(function(){
                console.log("i am being called!")
                $.ajax({
                    url: '',
                    type: 'get',
                    data:{
                        method: 'save',
                        text: document.getElementById('text-editor').value
                    }
                }).success(location.reload())
            })
            })

            analyse_btn.addEventListener('click', function(){
                setTimeout(() => {
                    scripts_box.style.display = 'block';
                    $("a.script-selector").click(function(){
                        alert(this.id)
                    })
                }, 500);


            })
        </script>
    </div>
{% endblock %}