{% extends "base_generic.html" %}
{% load static %}

{% block head %}
    <style>
        body{
            background-image: url("{% static "image2.png" %}");
            background-size: cover;
        }
        .field-wrapper{
            display: flex;
            justify-content: center;
            padding: 30px 10px 30px 10px;
        }

        #id_text{
            width: 60%;
            height: 50vh;
        }
    </style>
{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}

        <br>
        <br>
        {% for field in form %}
            <div class="field-wrapper">
                {{ field.errors }}
                {{ field.label_tag }}  {{ field }}<br>
                {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}

        <div class="d-flex justify-content-center">
            <input type="submit" value="Submit">
        </div>

    </form>
{% endblock %}